.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#search-results {
  position: relative;
  float: left;
  width: 98%;
  padding: 10px;
  padding-left: 5%;
  height: 500px;
  overflow: scroll;
}

.search-form {
    /* position: relative; */
    float: left;
    /* width: 50%; */
    padding-top: 10px;
    padding-left: 50%;
}

.deck-form {
  float: left;
}

.nav-items {
  float: right;
  position: relative;
  width: 50%;
  right: 0px;
}

.website-name{
  float: left;
  position: relative;
  width: 50%;
  right: 0px;
}

.users-decks {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 1%;
}

.welcome-div {
    float: left;
    padding-top: 10px;
    padding-left: 50%;
}

.deck-card-list {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px;
  padding-left: 5%;
  height: 25%;
  overflow: scroll;
}

.logo {
  width: 25%
}